
.sub-header {
    .row {
        background-color: lavender;
        .system-status {
            i { color: green; }
        }
        .last-reported {
            font-weight: lighter;
            font-size: .9rem;
        }
    }
}
