<section class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <app-production-meter></app-production-meter>
        <div class="card-block text-center">
          <h4 class="card-title">Production Today</h4>
          <p class="card-text text-muted">something</p>
          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
      
    </div>
    <div class="col-xs-12 col-sm-4">
      peak
    </div>
    <div class="col-xs-12 col-sm-4">
      current
    </div>
  </div>
</section>

